@font-face {
  font-family: "Quentin Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Quentin Regular"), url("../Quentin.woff") format("woff");
}

@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/base";
@import "base/typography";
 
@import "component/container.scss";
@import "component/textureName.scss";
@import "component/exploite.scss";
@import "component/olaniyi.scss";
    