*,
*::after,
*::before {
    margin:0;
    padding: 0;
    box-sizing: inherit;
}

html {
    //This defines what 1rem is
    font-size:62.5%;

    // @include respond(phone) {
    //     font-size: 45%;
    // }

    
}

body {
    display: flex;
    height: 100vh;
    position: relative;
    // background-repeat: repeat;
    // background-position: unset;
    // background-size: contain;
    @include respond(phone){
        background-repeat: no-repeat;
        color: green;
        background-size: cover;
        background-position: right;
    }
  }
  
