.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.35); 
    z-index: -1;
  }
  
  .o {
    border: 4px solid #c59d5f;
    padding: 0 2rem;
  }
  
  h1 {
    font-size: 14rem;
    font-family: "Montserrat", sans-serif;
    color: #c59d5f;
    font-weight: 200;
    margin-top: 5rem;
    width: 100%;
    text-align: center;
  }
  
  h2 {
    color:white;
    text-align: center;
    font-size: 6.2rem;
    font-family:'Quentin Regular';
    font-weight:normal;
    font-size:3.8rem
  }
  
  .container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
 
  }
  
  .laniyi{
    letter-spacing: 4rem;
  }
  
  .soon{
    color: white;
    font-size: 3.8rem;
  }
  
  .container > h1:nth-child(1) {
    color: white;
    font-size: 2.3rem;
    font-weight:  600;
   }
  
   p{
     color:white;
     font-family: Montserrat, sans-serif;
     width: 100%;
     font-size: 35px;
    text-align:center;
    font-size:2.5rem ;
  
   }